<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossrainbow.pm.server.dao.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.crossrainbow.pm.server.service.entity.Resource">
        <id column="RESOURCE_ID" property="resourceId" jdbcType="BIGINT"/>
        <result column="PARENT_RESOURCE_ID" property="parentResourceId" jdbcType="BIGINT"/>
        <result column="RESOURCE_NAME" property="resourceName" jdbcType="VARCHAR"/>
        <result column="RESOURCE_TYPE" property="resourceType" jdbcType="VARCHAR"/>
        <result column="RESOURCE_URL" property="resourceUrl" jdbcType="VARCHAR"/>
        <result column="RESOURCE_PRIORITY" property="resourcePriority" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        RESOURCE_ID, PARENT_RESOURCE_ID, RESOURCE_NAME, RESOURCE_TYPE, RESOURCE_URL, RESOURCE_PRIORITY, CREATE_TIME, UPDATE_TIME
    </sql>

    <!--根据资源ID查询-->
    <select id="selectByResourceId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM RESOURCES
        WHERE RESOURCE_ID = #{resourceId, jdbcType=BIGINT}
    </select>


    <!--&lt;!&ndash;新增&ndash;&gt;-->
    <!--<insert id="insert" parameterType="com.crossrainbow.pm.server.dao.dmo.PrivilegeDmo" useGeneratedKeys="true" keyProperty="resourceId" keyColumn="RESOURCE_ID">-->
        <!--insert into RESOURCES (<include refid="Base_Column_List"/>)-->
        <!--values (#{resourceId,jdbcType=BIGINT}, #{parentResourceId,jdbcType=BIGINT}, #{resourceName,jdbcType=VARCHAR},-->
        <!--#{resourceCode,jdbcType=VARCHAR}, #{resourceType,jdbcType=VARCHAR}, #{resourceUrl,jdbcType=VARCHAR},-->
        <!--#{createTime, jdbcType=TIMESTAMP}, #{updateTime, jdbcType=TIMESTAMP}-->
        <!--<selectKey keyProperty="resourceId" resultType="long" order="AFTER">-->
            <!--SELECT LAST_INSERT_ID();-->
        <!--</selectKey>-->
    <!--</insert>-->

</mapper>